body {
  font-family: "Roboto", sans-serif;
    color: #4344551;
    font-size: 16px;
    background-color: #fafafa;
    line-height: 24px;
    letter-spacing: 2%;
    font-weight: 400;
}
.element {
  color: #fff;
  background-color: #fff;
}
  header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
  }
  h1 {
    background-color: rgba(46, 47, 66, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
  }
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #434455;
}
img {
  width: 264px;
height: 260px;
}
